[Desktop Entry]
Name=Start Suricata
Comment=Run Suricata with the specified configuration
Exec=pkexec --action=org.freedesktop.policykit.pkexec.run-suricata /usr/bin/suricata -c /etc/suricata/suricata.yaml -i ens5
Terminal=true
Type=Application
Icon=terminal
